@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindos ao ChocoNatal</h1>
</div>

<div class="responsive">
  <div class="gallery">
        <a target="_blank" href="https://www.cacaushow.com.br/produto/combo-hermione-5500074.html">
      <img src="~/img/foto1.png" alt="HERMIONE GRANGER" width="600" height="400">
    </a>
        <div class="desc">Combo Hermione Granger — Copo Com Bombom Personalizado e Enfeite Natalino</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
        <a target="_blank" href="https://www.cacaushow.com.br/produto/combo-harry-potter-5500075.html">
            <img src="~/img/foto2.png" alt="HARRY POTTER" width="600" height="400">
    </a>
        <div class="desc">Combo Harry Potter — Copo Com Bombom Personalizado e Enfeite Natalino</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
        <a target="_blank" href="https://www.cacaushow.com.br/produto/combo-rony-5500066.html">
            <img src="~/img/foto3.png" alt="RON WEASLEY" width="600" height="400">
    </a>
        <div class="desc">Combo Ron Weasley — Copo Com Bombom Personalizado e Enfeite Natalino</div>
  </div>
</div>

<div class="clearfix"></div>

<div class="responsive">
  <div class="gallery">
        <a target="_blank" href="https://www.cacaushow.com.br/produto/tablete-de-natal-papai-noel-54g-1001216.html">
      <img src="~/img/foto5.png" alt="PAPAI NOEL" width="600" height="400">
    </a>
        <div class="desc">Tablete Papai Noel — Chocolate Ao Leite Decorado Com Chocolate Branco</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
        <a target="_blank" href="https://www.cacaushow.com.br/produto/combo-natal-zero-adi%C3%A7%C3%A3o-de-a%C3%A7%C3%BAcar-5500072.html">
            <img src="~/img/foto6.png" alt="ZERO ADIÇÃO AÇÚCAR" width="600" height="400">
    </a>
        <div class="desc">Combo Natal Zero Açúcar — Panetone Lacreme Com Estrela De Chocolate De Natal</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
        <a target="_blank" href="https://www.cacaushow.com.br/produto/combo-rony-5500066.html">
            <img src="~/img/foto4.png" alt="GUIRLANDA CHOCOLATE" width="600" height="400">
    </a>
        <div class="desc">Guirlanda De Chocolate — Bombons Especiarias, Creme De Avelã, Pera Caramelada, Cookies’n Cream E Creme De Cereja</div>
  </div>
</div>

<div class="clearfix"></div>

<div class="responsive">
  <div class="gallery">
        <a target="_blank" href="https://www.cacaushow.com.br/produto/kit-magia-do-natal-5500065.html">
      <img src="~/img/foto7.png" alt="KIT MAGICA" width="600" height="400">
    </a>
        <div class="desc">Kit Mágia De Natal — Panetone, Bombons, Trufas e Pirulito Sortidos De Natal</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
        <a target="_blank" href="https://www.cacaushow.com.br/produto/combo-cl%C3%A1ssicos-do-natal-5500064.html">
            <img src="~/img/foto8.png" alt="HARRY POTTER" width="600" height="400">
    </a>
        <div class="desc">Combo Clássicos De Natal — 3 Tabletes De Chocolate Natalinos</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
        <a target="_blank" href="https://www.cacaushow.com.br/produto/panetone-gotas-500g-1000328.html">
            <img src="~/img/foto9.png" alt="RON WEASLEY" width="600" height="400">
    </a>
        <div class="desc">Panetone De Gotas Natalinas — Adição De Gotas De Chocolate</div>
  </div>
</div>

<div class="clearfix"></div>

